/* General Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 1rem; 
  background: #000000b3;
  color: white;
  backdrop-filter: blur(1rem);
  border-bottom: 0.06rem solid #4b5563; 
}
 
/* Logo */
.navbar-logo {
  font-size: 1.8rem; 
  font-weight: 600;
  background: linear-gradient(to right, #3b82f6, #ec4899);
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  /* Make text transparent, allowing the gradient to show */
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* anchor tag */
.navbar a{
  text-decoration: none;

}
.navbar li{
  list-style: none;
  font-size: 1.2rem;
  color: white;
}

.navbar-logo:hover {
  opacity: 1;
}

/* Desktop Navigation Links */
.navbar-links {
  display: none;
  gap: 2.5rem; 
}

.navbar-link {
  font-size: 1rem; 
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navbar-link:hover {
  opacity: 1;
}

/* Social Media Links */
.navbar-social-links {
  display: none;
  gap: 1.25rem; 
}

.navbar-social-link {
  font-size: 2.2rem;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}

.navbar-social-link:hover {
  opacity: 1;
}
.linkedin:hover{
color: #3b82f6;
}
.github:hover{
  color:black
}

/* Mobile Menu Icon */
.menu-icon {
  font-size: 1.5rem; /* 24px = 1.5rem */
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 3.1rem; 
  right: 0;
  width: 50%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  border-left: 0.0625rem solid #4b5563; /* 1px = 0.0625rem */
  padding: 1.5rem; /* 24px = 1.5rem */
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* 20px = 1.25rem */
}

/* Mobile Navigation Links */
.mobile-menu-links {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* 16px = 1rem */
}

.mobile-menu-link {
  font-size: 1rem; /* 16px = 1rem */
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.mobile-menu-link:hover {
  opacity: 1;
}

.linkedin:hover{
  color: #3b82f6;
  }
  .github:hover{
    color:orangered
  }

/* Mobile Social Links */
.mobile-menu-social-links {
  display: flex;
  gap: 1.25rem; 
}

.mobile-menu-social-link {
  font-size: 1.8rem; 
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.mobile-menu-social-link:hover {
  opacity: 1;
}



/* Responsive Styles */

@media (min-width: 768px) {
  .navbar-links {
    display: flex;
  }

  .navbar-social-links {
    display: flex;
  }

  .menu-icon,
  .mobile-menu {
    display: none;
  }
}

/* Additional Responsive Styles */
@media (max-width: 1380px) {
  .navbar {
    padding: 0.8rem; 
    
  }
  .navbar-logo{
    font-size: 1.5rem;
  }
  .navbar-links li{
font-size:1.2rem;
  }
  .navbar-links{
    gap: 2rem;
  }
}


@media (max-width: 1084px) { 
  .navbar {
    padding: 0.75rem; 
  }
  
  .navbar-logo{
    font-size: 1.3rem;
  }
  .navbar-links li{
font-size:1rem;
  }
  .navbar-links{
    gap: 1.5rem;
  }

}

@media (max-width: 820px) { 
  .navbar {
    padding: 0.6rem; 
  }
}

@media (max-width: 580px) { 
  .navbar {
    padding: 0.5rem; 
  }
}

@media (max-width: 340px) {
  .navbar {
    padding: 0.3rem; 
  }

  .navbar-logo {
    font-size: 1.25rem; 
  }
}
